<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
<ZwagermanIT_StockEmail>
  <version>0.0.1</version>
         </ZwagermanIT_StockEmail>
        </modules>
<global>
 <models>
     <ZwagermanIT_StockEmail>
	   <class>ZwagermanIT_StockEmail_Model</class>
   </ZwagermanIT_StockEmail>
   </models>
    <events>
            <cataloginventory_stock_item_save_after>
                        <observers>

                        <ZwagermanIT_StockEmail>

                                        <type>singleton</type>

                                        <class>ZwagermanIT_StockEmail/observer</class>

                                        <method>voorraadcheck</method>

                                        </ZwagermanIT_StockEmail>
                                                    </observers>
                                                    </cataloginventory_stock_item_save_after>
                                                        </events>
                                                        </global>
</config>